body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    border: 0;
    background: #f7f7f7;
    display: flex;
    /* Define o container como flexbox, habilitando layout flexível */
    flex-direction: column;
    /* Organiza os itens filhos em coluna (de cima para baixo) */
    align-items: center;
    /* Alinha os itens filhos horizontalmente ao centro do container */

}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

table {
    border-collapse: collapse;
    margin: 30px;
    border-spacing: 0;
}

.menu {
    margin-right: 0px;
    padding: 10px 0;
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 12vw;
    background: linear-gradient(180deg, #5a3ec8, #7b5de6);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.menu li {
    position: relative;
}

.menu a {
    margin-right: 10px;
    display: block;
    padding: 14px 20px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 8px;
    transition: all 0.5s ease;
}

.menu a:hover {
    background: rgba(255, 255, 255, 0.15);
    transform: translateX(5px);
}

.menu .submenu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.1);
    border-left: 3px solid rgba(255, 255, 255, 0.2);
}

.menu .submenu li a {
    font-size: 14px;
    padding: 10px 25px;
    margin-bottom: 3px;
}

.menu .submenu li a:hover {
    background: rgba(255, 255, 255, 0.2);
}

.menu .dropdown:hover .submenu {
    display: flex;
}


.submenu li:last-child a {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.table th {
    color: #f7f7f7;
    padding: 18px 25px;
    background-color: #6949ca;
    text-transform: uppercase;
}

.table th:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.table th:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.table td:nth-child(even) {
    background-color: #e4e4e4;
}

.table tr:hover td {
    background-color: #e4e4e4;
}

.table td {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #6949ca
}

.label-registration {
    text-align: left;
    padding-bottom: 5px;
}

.form-registration {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-group {
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-registration {
    padding: 10px;
    border: 0.5px solid #6949ca;
    border-radius: 4px;
    background-color: transparent;
    outline: none;
}

.input-tabela {
    margin-left: 5px;
    padding: 10px;
    border: 0.5px solid #6949ca;
    border-radius: 4px;
    background-color: transparent;
    outline: none;
}


.input-checkbox-registration {
    height: 22px;
    width: 22px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    transition: all 0.2s ease;
    flex-shrink: 0;
}

.label-registration {
    font-size: 14px;
    color: #444;
    margin-bottom: 4px;
    letter-spacing: 0.5px;
}

.label-grafico {
    margin-left: 5px;
    font-size: 14px;
    color: #444;
    margin-bottom: 4px;
    letter-spacing: 0.5px;
}

.title-registration {
    font-size: 16px;
    color: #444;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: center;
}

.submit-button {
    width: 100%;
    padding: 15px 20px;
    font-size: 15px;
    background-color: #6949ca;
    color: #fff;
    letter-spacing: 0.5px;
    text-align: center;
    border: none;
    border-radius: 4px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 6vh;
    /* opcional, só para espaçar */
}

.content {
    border-radius: 4px;
    background-color: #ebebeb;
    padding: 40px;
    /* Topo | Direita | Baixo | Esquerda */
    margin-top: 20px;

}

.content-cadastro-gasto {
    width: 40vw;
    height: 45vh;
    border-radius: 4px;
    background-color: #ebebeb;
    padding: 40px;
    /* Topo | Direita | Baixo | Esquerda */
    margin: 20px;
    margin-left: 10vw;
}


.input-login {
    padding: 10px;
    border: 0.5px solid #6949ca;
    border-radius: 4px;
    background-color: transparent;
    outline: none;
    margin-bottom: 5px;
    width: 100%;
    box-sizing: border-box;
}

.label-login {
    text-align: center;
    margin-bottom: 5px;
}

.content-login {
    border-radius: 4px;
    background-color: #ebebeb;
    padding: 30px;
    /* Topo | Direita | Baixo | Esquerda */
    margin: 20px;
    width: 25vw;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: width 0.3s ease;
}

a.forgot-password {
    display: block;
    font-size: 14px;
    color: #6949ca;
    text-decoration: none;
    transition: 0.3s;
}

a.forgot-password:hover {
    text-decoration: underline;
    color: #3e2fbf;
}

.content-centralize {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
}

.button-container-login {
    display: flex;
    justify-content: center;
    /* opcional, só para espaçar */
}

.submit-button-login {
    width: 100%;
    padding: 15px 20px;
    font-size: 15px;
    background-color: #6949ca;
    color: #fff;
    margin-bottom: 4px;
    letter-spacing: 0.5px;
    text-align: center;
    border: none;
    border-radius: 4px;
}

@media (max-width:600px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

.expandable-row td {
    background-color: #f0f0f0;
    padding: 15px;
    font-size: 14px;
    color: #333;
}

.toggle-btn {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 18px;
    color: #6949ca;
    transition: transform 0.3s ease;
}

.toggle-btn:hover {
    color: #5a3ec8;
    transform: scale(1.2);
}

.content-register-user {
    border-radius: 4px;
    background-color: #ebebeb;
    padding: 30px;
    /* Topo | Direita | Baixo | Esquerda */
    margin: 20px;
    width: 25vw;
    height: 43vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: width 0.3s ease;
}

.submit-button-table {
    padding: 15px 20px;
    font-size: 15px;
    background-color: #6949ca;
    color: #fff;
    margin-bottom: 4px;
    letter-spacing: 0.5px;
    text-align: center;
    border: none;
    border-radius: 4px;
}

.quitar-btn {
    border: none;
    background: none;
    /* opcional, remove cor de fundo */
    cursor: pointer;
    /* opcional, mantém o cursor de clique */
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.modal-content {
    background-color: #ccc;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.margin-relatorio {
    margin-left: 10vw;

}

.pointer {
    cursor: pointer;
}